target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/testURL/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
bin/
out/
.idea/
.allure/
allure-results/
ExportData/
ExtentReports/
logs/
!logs/LogUtils.java
test-output/
reports/
src/Config
*.png
*.jpg
*.mp4
*.avi
*.zip


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/testURL/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store